@mixin FoF-container {
  height: 100vh;
  text-align: center;
  animation: errorFoF 15s infinite;

  @keyframes errorFoF {
    0% {
      color: red;
    }
    25% {
      color: cyan;
    }
    50% {
      color: crimson;
    }
    75% {
      color: blue;
    }
    100% {
      color: aliceblue;
    }
  }
}

.desktop-FoF-container {
  @include FoF-container;
}

.mobile-FoF-container {
  @include FoF-container;
}
