@mixin homepage-facts-card {
  text-align: center;

  .homepage-fact-number-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .homepage-fact-number {
      grid-column: 2;
    }

    .homepage-fact-left-arrow {
      grid-column: 1;
      grid-row: 1;
    }

    .homepage-fact-right-arrow {
      grid-column: 3;
      grid-row: 1;
    }

    .homepage-arrow {
      font-size: 30px;
      user-select: none;

      &:hover {
        cursor: pointer;
        color: goldenrod;
      }
    }
  }

  .homepage-fact {
    max-height: 250px;
  }
}

@mixin homepage-skeleton-loading-container($width) {
  width: $width;
  margin: 0 auto;

  .homepage-skeleton-loading-card {
    background-color: #111;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 1em;
  }
}

.homepage-facts-card {
  @include homepage-facts-card;

  .homepage-skeleton-loading-container {
    @include homepage-skeleton-loading-container(50vw);
  }
}
