.small-resolution {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 1000;
  color: whitesmoke;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
