$medium: 800px;
$large: 1000px;
$giant: 1200px;

$Queen: "../../../../../../Images/Promotions/Queen.png";
$Rook: "../../../../../../Images/Promotions/Rook.png";
$Bishop: "../../../../../../Images/Promotions/Bishop.png";
$Knight: "../../../../../../Images/Promotions/Knight.png";

@mixin singlePlayerGame {
  display: grid;
  grid-template-columns: 1;
  row-gap: 3%;
  width: 95%;
  margin: 0 auto;

  .singlePlayerGame-header-container {
    border: 5px solid black;
    background-color: #1b1b1b;
    grid-row: 1;
    grid-column: 1 / -1;
    width: 50%;
    height: 95%;
    margin: 0 auto;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;

    .singlePlayerGame-header {
      // border: 5px solid cyan;
      color: white;
      font-size: 30px;
      height: 100%;
      // width: 70%;
      display: grid;
      grid-template-columns: 1;
      align-items: center;
      justify-content: space-evenly;
      // column-gap: 5%;
      margin: 0 auto;

      .singlePlayerGame-spectatorCount {
        // border: 5px solid yellow;
        grid-row: 1;
        grid-column: 1 / -1;
        text-align: center;
        justify-self: center;
        width: 50px;
        margin-bottom: -1em;
      }

      .singlePlayerGame-spactatorIcon {
        // border: 5px solid orange;
        width: 50px;
        grid-row: 2;
        margin-bottom: 0.5em;
      }

      .singlePlayerGame-roomName {
        // border: 5px solid purple;
        grid-row: 3;
        text-align: center;
      }
    }
  }

  .singlePlayerGame-players-data {
    // border: 5px solid green;
    grid-row: 2;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1em;
    width: 90%;
    font-size: 30px;
    margin: 0 auto;

    .singlePlayerGame-playerOne-data {
      border: 5px solid white;
      box-shadow: 0 5px 23px rgba(0, 0, 0, 1);
      height: 12vh;
      display: flex;
      align-items: center;
    }

    .singlePlayerGame-playerTwo-data {
      border: 5px solid black;
      box-shadow: 0 5px 23px rgba(0, 0, 0, 1);
      height: 12vh;
      display: flex;
      align-items: center;
    }

    .profile-pic-container {
      // border: 5px solid red;
      border-radius: 1em;
      max-width: 100%;
      max-height: 100%;
      overflow: hidden;

      .singlePlayerGame-player-image {
        // border: 5px solid red;
        width: 100px;
        height: 100px;
        object-fit: contain;
        margin-left: 5%;
      }
    }
  }

  .singleplayer-main-content-container {
    border: 5px solid gold;
    display: grid;
    grid-template-columns: 300px 1fr 500px;
    justify-content: center;
    align-items: center;
    // overflow: auto;

    .singlePlayerGame-chessboard-container {
      border: 5px solid blue;
      grid-column: 2;
      grid-row: 1;
    }

    // .singlePlayer-history-title {
    //   grid-column: 1;
    //   grid-row: 1;
    // }

    // .singlePlayer-chatbox-title {
    //   grid-column: 2;
    //   grid-row: 1;
    // }

    .singlePlayerGame-moveHistory-container {
      border: 5px solid white;
      width: 100%;
      height: 95%;
      margin: 0 auto;
      overflow-y: auto;
      grid-column: 1;
      grid-row: 1;
      color: white;

      .singlePlayerGame-moveHistory {
        border: 5px solid brown;
        height: 85%;
        overflow-y: auto;
      }
    }

    .singlePlayerGame-chatBox-container {
      border: 5px solid orange;
      text-align: center;
      font-size: 35px;
      width: 100%;
      height: 95%;
      margin: 0 auto;
      overflow-y: auto;
      grid-column: 3;
      grid-row: 1;
      color: white;

      .singlePlayerGame-chatBox {
        border: 5px solid purple;
        height: 85%;
        overflow-y: auto;
      }
    }

    // .singlePlayerGame-chatBox-moveHistory-container {
    //   border: 5px solid green;
    //   grid-column: 2;
    //   display: grid;
    //   grid-template-columns: repeat(2, 1fr);
    //   align-items: center;
    //   text-align: center;
    //   box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
    //   color: white;
    //   font-size: 30px;
    //   overflow: auto;
    // }

    .singlePlayerGame-buttons {
      // border: 5px solid cyan;
      display: flex;
      justify-content: center;
      grid-column: 1 / -1;
      // margin-top: 3em;

      .singlePlayerGame-endGame-button {
        width: 30%;
      }
    }
  }
}

@mixin promotion-modal-container {
  .promotion-modal-body {
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 1);

    .promotion-modal-buttons {
      border: 5px solid black;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
    }

    #queenButton {
      background-image: $Queen;
    }

    #rookButton {
      background-image: $Rook;
    }

    #bishopButton {
      background-image: $Bishop;
    }

    #knightButton {
      background-image: $Knight;
    }
  }
}

@mixin winner-modal-container {
  .winner-modal-header {
    // border: 5px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .winner-modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.desktop-singlePlayerGame {
  @include singlePlayerGame;
}

.desktop-promotion-modal-container {
  @include promotion-modal-container;
}

.desktop-winner-modal-container {
  @include winner-modal-container;
}

.mobile-singlePlayerGame {
  @include singlePlayerGame;
}

.mobile-promotion-modal-container {
  @include promotion-modal-container;
}

.mobile-winner-modal-container {
  @include winner-modal-container;
}
