$tiny: 320px;
$small: 480px;
$medium: 768px;
$large: 1024px;
$extra: 1400px;

@mixin menuSideBar-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 1;

  .button-image {
    // border: 5px solid red;
    width: 40px;
    opacity: 80%;

    &:hover {
      opacity: 100%;
      cursor: pointer;
    }

    @media (min-height: $tiny) {
      // border: 5px solid purple;
    }
    @media (min-height: $small) {
      // border: 5px solid orange;
      width: 35px;
    }
    @media (min-height: $medium) {
      // border: 5px solid yellow;
      width: 40px;
    }
    @media (min-height: $large) {
      // border: 5px solid green;
      width: 70px;
    }
    @media (min-height: $extra) {
      // border: 5px solid cyan;
      width: 70px;
    }
  }

  .sidebar-active {
    border: 3px solid gold;
  }

  .menuSideBar-userInfo {
    width: 95%;
    text-align: center;

    .profileImg {
      width: 50px;

      &:hover {
        cursor: pointer;
      }

      @media (min-height: $tiny) {
        // border: 5px solid purple;
      }
      @media (min-height: $small) {
        // border: 5px solid orange;
        width: 35px;
      }
      @media (min-height: $medium) {
        // border: 5px solid yellow;
        width: 40px;
      }
      @media (min-height: $large) {
        // border: 5px solid green;
        width: 70px;
      }
      @media (min-height: $extra) {
        // border: 5px solid cyan;
        width: 70px;
      }
    }
  }

  .menu-item-1 {
    text-align: center;
    border-radius: 0.5em;
    width: 95%;
  }

  .menu-item-2 {
    text-align: center;
    border-radius: 0.5em;
    width: 95%;
  }

  .sidebar-login-buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1%;
    align-items: center;
    justify-content: center;

    .menu-item-sign-up {
      text-align: center;
      border-radius: 0.5em;
    }

    .menu-item-sign-in {
      text-align: center;
      border-radius: 0.5em;
    }

    .menu-item-sign-out {
      text-align: center;
      border-radius: 0.5em;
    }
  }
}

@mixin sidebar-style-container($top, $bottom) {
  position: fixed;
  top: $top;
  left: 7%;
  bottom: $bottom;
  z-index: 0;
  width: 50%;
  height: 50%;
  -webkit-box-shadow: 0px 0px 0px 5px black, inset 0px 10px 27px -8px #141414,
    inset 0px -10px 27px -8px #a31925, 4px 5px 16px 7px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px 5px black, inset 0px 10px 27px -8px #141414,
    inset 0px -10px 27px -8px #a31925, 4px 5px 16px 7px rgba(0, 0, 0, 0);
}

@mixin sidebar-style {
  background-color: #282e33;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.desktop-menuSideBar-container {
  @include menuSideBar-container;

  .profile-sidebar-container {
    @include sidebar-style-container(1em, 0);

    .profile-sidebar {
      @include sidebar-style;

      .profile-sidebar-user-info {
        grid-column: 1 / -1;
        margin-top: 0.5em;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .profileImg {
          width: 100px;
        }
      }

      .chess-coins-container {
        font-size: 25px;
        position: absolute;
        top: 0.5em;
        right: 0.5em;

        .chess-coin-icon {
          width: 40px;
        }
      }

      .profile-sidebar-user-stats {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 100%;
      }
    }
  }

  .home-sidebar-container {
    @include sidebar-style-container(2em, 0);

    .home-sidebar {
      @include sidebar-style;
    }
  }
}

.mobile-menuSideBar-container {
  @include menuSideBar-container;

  .profile-sidebar {
    @include sidebar-style;

    .profile-sidebar-user-info {
      grid-column: 1 / -1;
      margin-top: 1em;
      height: 100%;

      .profileImg {
        width: 100px;
      }
    }

    .chess-coins-container {
      font-size: 25px;

      .chess-coin-icon {
        width: 40px;
      }
    }

    .profile-sidebar-user-stats {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: 100%;
    }
  }
}
