.desktop-menuSideBar-container {
  // border: 5px solid cyan;
  // width: 15em;
  height: 100%;

  .desktop-menuSideBar {
    // border: 5px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 80%;

    .desktop-menuSideBar-userInfo {
      // border: 5px solid green;
      text-align: center;
      grid-row: 1;
      grid-column: 1 / span 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .chess-coins-container {
        font-size: 40px;

        .chess-coin-icon {
          width: 50px;
        }
      }
    }

    .desktop-menuSideBar-buttons-container1 {
      // border: 5px solid cyan;
      grid-column: 1 / span 2;
      grid-row: 2;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1em;

      .desktop-menu-item1 {
        margin-bottom: 10px;
      }
    }

    .desktop-menuSideBar-buttons-container2 {
      // border: 5px solid red;
      grid-column: 1 / span 2;
      grid-row: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .desktop-menu-item2 {
        margin-bottom: 10px;
      }
    }

    .desktop-menuSideBar-guestInfo {
      text-align: center;
      grid-row: 1;
      grid-column: 1 / span 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }

    .desktop-menu-guest-inventory {
      grid-column: 1 / span 2;
      grid-row: 2;
    }

    .desktop-menuSideBar-guest-buttons {
      // border: 5px solid red;
      grid-column: 1 / span 2;
      grid-row: 3;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: start;
      justify-content: center;
      margin-top: 5%;
      gap: 5%;
    }
  }
}

.profileImg {
  width: 100px;
}
