@mixin menuSideBar-container {
  height: 100%;

  .menuSideBar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 80%;

    .menuSideBar-userInfo {
      text-align: center;
      grid-row: 1;
      grid-column: 1 / span 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .chess-coins-container {
        font-size: 40px;

        .chess-coin-icon {
          width: 50px;
        }
      }
    }

    .menuSideBar-buttons-container1 {
      grid-column: 1 / span 2;
      grid-row: 2;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1em;

      .menu-item1 {
        margin-bottom: 10px;
      }
    }

    .menuSideBar-buttons-container2 {
      grid-column: 1 / span 2;
      grid-row: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .menu-item2 {
        margin-bottom: 10px;
      }
    }

    .button-image {
      width: 40px;
    }

    .menuSideBar-guestInfo {
      text-align: center;
      grid-row: 1;
      grid-column: 1 / span 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }

    .menu-guest-inventory {
      grid-column: 1 / span 2;
      grid-row: 2;
    }

    .menuSideBar-guest-buttons {
      grid-column: 1 / span 2;
      grid-row: 3;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: start;
      justify-content: center;
      margin-top: 5%;
      gap: 5%;
    }
  }
}

.desktop-menuSideBar-container {
  @include menuSideBar-container;
}

.mobile-menuSideBar-container {
  @include menuSideBar-container;
}

.profileImg {
  width: 100px;
}
