.HomepageSection {
  height: 80vh;
  text-align: center;
  animation: homepageText 10s infinite;
  @keyframes homepageText {
    50% {
      color: white;
    }
    100% {
      color: black;
    }
  }
}
