$small-mobile: 350px;
$medium-mobile: 400px;
$large-mobile: 600px;
$extra-large-mobile: 799px;

$small-desktop: 800px;
$medium-desktop: 1100px;
$large-desktop: 1300px;
$extra-large-desktop: 1400px;

$TestBorder: url("../../Images/Profiles/testBorder.png");
$TigerGif: url("../../Images/Profiles/tigerRunning.gif");

@mixin homepage-container {
  height: 90vh;
  width: 99vw;
  text-align: center;
  color: rgb(215, 215, 215);
  margin: 0 auto;

  // Top player profile stuff \\
  h1 {
    #topPlayer-border {
      background-image: $TestBorder;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      img {
        width: 35px;
      }

      #topPlayer-background {
        background-image: $TigerGif;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }
}

@mixin homepage-content($gap, $gapSize, $columnValues...) {
  display: grid;
  grid-template-columns: #{$columnValues};
  #{$gap}: $gapSize;
  overflow: auto;
  align-items: center;
}

@mixin homepage-tasks-container($columnValue, $widthValue) {
  background-color: #212529;
  grid-column: $columnValue;
  height: 70vh;
  width: $widthValue;
  margin: 0 auto;
  margin-top: 1.5em;
  box-shadow: 0px 0px 0px 0.5em #000000, 0px 0px 0px 1em #4b4c4b,
    0px 0px 0px 1.5em #828482;
  border-radius: 1em;
}

@mixin homepage-facts-container {
  height: 80vh;
  overflow: auto;
}

.desktop-homepage-container {
  @include homepage-container;

  .homepage-content {
    @include homepage-content(column-gap, 3em, 900px, 1fr);

    .homepage-tasks-container {
      @include homepage-tasks-container(1, 35vw);
      margin-left: 2em;
    }

    .homepage-facts-container {
      grid-column: 2;
      @include homepage-facts-container;
    }
  }
}

.mobile-homepage-container {
  @include homepage-container;

  .homepage-content {
    @include homepage-content(row-gap, 3em, 1fr);

    .homepage-tasks-container {
      @include homepage-tasks-container(1, 75vw);
    }

    .homepage-facts-container {
      @include homepage-facts-container;
    }
  }
}

#homepage-header {
  #logoImg {
    width: 150px;
  }

  h1 {
    font-size: 25px;
    color: white;
    font-family: "Bungee Shade", cursive;
    &:hover {
      cursor: pointer;
    }
  }
}

.homepage-tasks {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1em;
}

.dailyTasks-button {
  background-color: #282e33;
  color: rgb(195, 195, 195);
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5em;
  border-radius: 1em;

  h3 {
    margin-top: 0.5em;
  }

  &:hover {
    cursor: pointer;
    color: black;
    background-color: white;
  }
}

.dailyTasks-button-selected {
  background-color: white;
  color: black;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5em;
  border-radius: 1em;

  h3 {
    margin-top: 0.5em;
  }
}

.monthlyTasks-button {
  background-color: #282e33;
  color: rgb(195, 195, 195);
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5em;
  border-radius: 1em;

  h3 {
    margin-top: 0.5em;
  }

  &:hover {
    cursor: pointer;
    color: black;
    background-color: white;
  }
}

.monthlyTasks-button-selected {
  background-color: white;
  color: black;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5em;
  border-radius: 1em;

  h3 {
    margin-top: 0.5em;
  }
}

#tasks-divider {
  border: 3px solid white;
  width: 50%;
  margin: 0 auto;
  margin-top: 1em;
}

#tasks-container {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .tasks {
    border: 5px solid white;
    height: 20%;
    width: 95%;
    color: white;
    font-size: 25px;
    border-radius: 1em;

    .taskProgress {
      border: 3px solid gold;
      width: 80%;
      margin: 0 auto;
      border-radius: 1em;
    }
  }
}
