$small-mobile: 350px;
$medium-mobile: 400px;
$large-mobile: 600px;
$extra-large-mobile: 799px;

.mobile-NavBar-container {
  .mobile-NavBar {
    // border: 5px solid pink;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    background-color: #212529;

    #mobile-NavBar-header {
      // border: 5px solid green;
      grid-column: 1 / span 2;
      text-align: center;
      color: aliceblue;
      font-family: "Bungee Shade", cursive;

      #mobile-mainlogoImg {
        width: 110px;
      }

      h1 {
        font-size: 18px;
      }
    }

    #mobile-HomeAndLobby-container {
      // border: 5px solid white;
      color: white;
      text-align: center;
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      row-gap: 1em;

      .mobile-NavBar-home {
        // border: 5px solid red;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 0.5em;
        color: white;
        background-color: #383838;
        opacity: 85%;
        height: 3em;
      }

      .mobile-NavBar-lobby {
        // border: 5px solid cyan;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 0.5em;
        color: white;
        background-color: #383838;
        opacity: 85%;
        height: 3em;
      }
    }

    #mobile-shopAndMenu-container {
      // border: 5px solid palegreen;
      color: white;
      text-align: center;
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      row-gap: 1em;

      .mobile-NavBar-shop {
        // border: 5px solid brown;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 0.5em;
        color: white;
        background-color: #383838;
        opacity: 85%;
        height: 3em;
      }

      .mobile-NavBar-menu {
        // border: 5px solid burlywood;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 0.5em;
        color: white;
        background-color: #383838;
        opacity: 85%;
        height: 3em;
      }
    }

    .mobile-active {
      border: 5px solid aliceblue;
      transition-duration: 0.1s;
    }
  }

  .mobile-hide-navbar {
    display: none;
  }

  .mobile-NavBar-arrow {
    // border: 5px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    font-size: 20px;
    width: 3em;
    height: 1.5em;
    box-shadow: 0px 0px 5px 2.5px #000000;
    margin: 0 auto 5% auto;
  }
}
