.mobile-menuSideBar-container {
  // border: 5px solid cyan;
  // width: 15em;
  height: 100%;

  .mobile-menuSideBar {
    // border: 5px solid black;
    display: grid;
    grid-template-columns: 1fr;
    height: 80%;

    .mobile-menuSideBar-userInfo {
      // border: 5px solid green;
      text-align: center;
      grid-row: 1;
      grid-column: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .profileImg {
        width: 100px;
      }
    }

    .mobile-menuSideBar-buttons-container1 {
      // border: 5px solid cyan;
      grid-column: 1 / span 2;
      grid-row: 2;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1em;

      .mobile-menu-item1 {
        margin-bottom: 10px;
      }
    }

    .mobile-menuSideBar-buttons-container2 {
      // border: 5px solid red;
      grid-column: 1 / span 2;
      grid-row: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .mobile-menu-item2 {
        margin-bottom: 10px;
      }
    }
  }
}
