// homepageFacts
.desktop-homepage-facts {
  // border: 5px solid red;
  width: 80%;
  margin: 0 auto;

  .homepage-facts-card {
    // border: 5px solid red;
    cursor: grab;
    user-select: none;
    color: gold;
    // background-color: rgb(215, 215, 215);
    background-color: #111;
    border-radius: 10px;
    padding: 20px;

    &:active {
      cursor: grabbing;
    }
  }
}
