$medium: 800px;
$large: 1000px;
$giant: 1200px;

.gamePageBot {
  // border: 5px solid cyan;
  display: grid;
  grid-template-columns: 1fr;

  .gamePageBot-header-container {
    // border: 5px solid red;
    grid-row: 1;
    grid-column: 1 / span 3;
    width: 50%;
    height: 95%;
    margin: 0 auto;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;

    .gamePageBot-header {
      // border: 5px solid cyan;
      font-size: 30px;
      height: 100%;
      width: 70%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-content: center;
      column-gap: 5%;
      margin-left: 3em;

      #gamePageBot-roomName {
        // border: 5px solid purple;
        grid-row: 1 / span 2;
        text-align: center;
      }

      #gamePageBot-spectatorCount {
        // border: 5px solid yellow;
        grid-row: 1;
        grid-column: 2;
        text-align: center;
        width: 50px;
        margin-bottom: -1em;
      }

      #gamePageBot-spactatorIcon {
        // border: 5px solid orange;
        width: 50px;
        grid-row: 2;
        margin-bottom: 0.5em;
      }
    }
  }

  .gamePageBot-players-data {
    // border: 5px solid red;
    grid-row: 2;
    width: 90%;
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 5%;

    .gamePageBot-playerOne-data {
      border: 5px solid white;
      box-shadow: 0 5px 23px rgba(0, 0, 0, 1);
      margin-bottom: 5%;
      height: 12vh;
      display: flex;
      align-items: center;
    }

    .gamePageBot-playerTwo-data {
      border: 5px solid black;
      box-shadow: 0 5px 23px rgba(0, 0, 0, 1);
      margin-bottom: 5%;
      height: 12vh;
      display: flex;
      align-items: center;
    }

    .gamePageBot-player-image {
      // border: 5px solid red;
      width: 100px;
    }
  }

  .gamePageBot-chessboard-container {
    // border: 5px solid blue;
    grid-row: 3;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }

  .gamePageBot-chatBox-container {
    // border: 5px solid green;
    grid-row: 4;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);

    .gamePageBot-chatBox {
      font-size: 35px;
      width: 95%;
      height: 95%;
    }
  }
}

@media (min-width: $medium) {
  .gamePageBot {
    display: grid;
    grid-template-columns: 280px 1fr;

    .gamePageBot-header-container {
      // border: 5px solid red;
      grid-row: 1;
      grid-column: 1 / span 3;
      width: 50%;
      height: 95%;
      margin: 0 auto;
      margin-bottom: 3%;
      display: flex;
      align-items: center;
      justify-content: center;

      .gamePageBot-header {
        // border: 5px solid cyan;
        font-size: 30px;
        height: 100%;
        width: 70%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        column-gap: 5%;
        margin-left: 3em;

        #gamePageBot-roomName {
          // border: 5px solid purple;
          grid-row: 1 / span 2;
          text-align: center;
        }

        #gamePageBot-spectatorCount {
          // border: 5px solid yellow;
          grid-row: 1;
          grid-column: 2;
          text-align: center;
          width: 50px;
          margin-bottom: -1em;
        }

        #gamePageBot-spactatorIcon {
          // border: 5px solid orange;
          width: 50px;
          grid-row: 2;
          margin-bottom: 0.5em;
        }
      }
    }

    .gamePageBot-players-data {
      // border: 5px solid red;
      grid-row: 2;
      grid-column: 1;
      width: 95%;
      font-size: 30px;
      margin-bottom: 10%;
      margin-left: 5%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .gamePageBot-playerOne-data {
        border: 5px solid white;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
        margin-bottom: 5%;
        height: 12vh;
        display: flex;
        align-items: center;
      }

      .gamePageBot-playerTwo-data {
        border: 5px solid black;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
        margin-bottom: 5%;
        height: 12vh;
        display: flex;
        align-items: center;
      }

      .gamePageBot-player-image {
        // border: 5px solid red;
        width: 100px;
      }
    }

    .gamePageBot-chessboard-container {
      // border: 5px solid blue;
      grid-row: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5%;
    }

    .gamePageBot-chatBox-container {
      // border: 5px solid green;
      grid-row: 3;
      grid-column: 1 / span 2;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50vh;
      width: 95%;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 1);

      .gamePageBot-chatBox {
        font-size: 35px;
        width: 95%;
        height: 95%;
      }
    }
  }
}

@media (min-width: $large) {
  .gamePageBot {
    // border: 5px solid blue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1%;

    .gamePageBot-header-container {
      // border: 5px solid red;
      grid-row: 1;
      grid-column: 1 / span 3;
      width: 50%;
      height: 95%;
      margin: 0 auto;
      margin-bottom: 3%;
      display: flex;
      align-items: center;
      justify-content: center;

      .gamePageBot-header {
        // border: 5px solid cyan;
        font-size: 30px;
        height: 100%;
        width: 70%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        column-gap: 5%;
        margin-left: 3em;

        #gamePageBot-roomName {
          // border: 5px solid purple;
          grid-row: 1 / span 2;
          text-align: center;
        }

        #gamePageBot-spectatorCount {
          // border: 5px solid yellow;
          grid-row: 1;
          grid-column: 2;
          text-align: center;
          width: 50px;
          margin-bottom: -1em;
        }

        #gamePageBot-spactatorIcon {
          // border: 5px solid orange;
          width: 50px;
          grid-row: 2;
          margin-bottom: 0.5em;
        }
      }
    }

    .gamePageBot-players-data {
      // border: 5px solid red;
      grid-row: 2;
      grid-column: 1;
      width: 95%;
      font-size: 30px;
      margin-bottom: 7%;
      margin-left: 5%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .gamePageBot-playerOne-data {
        border: 5px solid white;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
        margin-bottom: 5%;
        height: 12vh;
        display: flex;
        align-items: center;
      }

      .gamePageBot-playerTwo-data {
        border: 5px solid black;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
        margin-bottom: 5%;
        height: 12vh;
        display: flex;
        align-items: center;
      }

      .gamePageBot-player-image {
        // border: 5px solid red;
        width: 100px;
      }
    }

    .gamePageBot-chessboard-container {
      // border: 5px solid blue;
      grid-row: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5%;
    }

    .gamePageBot-chatBox-container {
      // border: 5px solid green;
      grid-row: 2;
      grid-column: 3;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 95%;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 1);

      .gamePageBot-chatBox {
        font-size: 35px;
        width: 95%;
        height: 95%;
      }
    }
  }
}

.promotion-modal-container {
  .promotion-modal-body {
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 1);

    .promotion-modal-buttons {
      border: 5px solid black;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
    }

    #queenButton {
      background-image: url("../../../../../Images/Queen.png");
    }

    #rookButton {
      background-image: url("../../../../../Images/Rook.png");
    }

    #bishopButton {
      background-image: url("../../../../../Images/Bishop.png");
    }

    #knightButton {
      background-image: url("../../../../../Images/Knight.png");
    }
  }
}

.winner-modal-container {
  .winner-modal-header {
    // border: 5px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .winner-modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
