$small: 600px;
$medium: 800px;
$large: 1000px;
$giant: 1200px;

.lobbyMain {
  // border: 5px solid red;
  height: 100%;

  .lobbySection1 {
    // border: 5px solid cyan;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    h4 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.5em;
      color: aliceblue;
    }

    .lobbyButtons {
      color: aliceblue;
      background-color: black;
      width: 10em;
      height: 2.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-self: center;
      opacity: 85%;
      margin: 0.3em;

      &:hover {
        opacity: 100%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        cursor: pointer;
      }
    }

    .advancedSearch-container {
      // border: 5px solid red;
      grid-column: 1 / span 2;
      grid-row: 2;

      .advancedSearch-title {
        text-align: center;
      }

      .advancedSearchArrows {
        margin: 0.3em;
      }
    }

    .advancedSearch-options-container {
      // border: 5px solid red;
      grid-column: 1 / span 2;
      grid-row: 3;

      .advancedSearch-options {
        // border: 5px solid cyan;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        width: 90%;
        margin: 0 auto;

        .bg-dark {
          color: white;
          // height: 100%;
        }

        .bg-light {
          color: black;
          // height: 100%;
        }

        #custom-switch {
          background-color: white;

          &:checked {
            background-color: black;
          }
        }

        .advancedSearch-eloRating-container {
          // border: 5px solid red;
          // display: grid;
          // grid-template-columns: repeat(2, 1fr);
          // justify-content: center;
          // align-items: center;
          // text-align: center;

          .advancedSearch-eloRating-title {
            // grid-column: 1 / span 2;
            // grid-row: 1;
          }

          .advancedSearch-eloRating {
            // border: 5px solid purple;
            // width: 25vw;
            // margin-left: 1.5em;
            // display: grid;
            // grid-template-columns: 1fr 50px 1fr;
            // justify-content: center;
            // align-items: center;

            .min-elo-rating {
              // border: 5px solid cyan;
              width: 50%;
              margin: 0 auto;
            }

            .max-elo-rating {
              // border: 5px solid green;
              width: 50%;
              margin: 0 auto;
            }
          }
        }

        .advancedSearch-buttons {
          grid-column: 1 / span 3;
          margin-top: 0.3em;
        }
      }
    }
  }

  .lobbySection2 {
    // border: 5px solid blue;
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 75vh;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .players {
      color: white;
    }

    img {
      width: 50px;
    }

    .status {
      width: 20em;

      .lobbyStatusLinks {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .lobbyStatus1Parent {
          // border: 5px solid red;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 3em;
          text-decoration: none;
          color: aliceblue;
          background-color: black;
          opacity: 85%;

          &:hover {
            opacity: 100%;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            cursor: pointer;
            color: white;
          }
        }

        .lobbyStatusParent2 {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 3em;
          text-decoration: none;
          color: aliceblue;
          background-color: gray;
          opacity: 50%;
        }
      }
    }
  }
}

.lobbyModal {
  text-align: center;

  .lobbyModal-title {
    background-color: black;
    color: white;
  }

  .lobbyModal-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
  }

  .lobbyModal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
  }
}
