.SignupSection {
  height: 100vh;
}

.landing-modal-title-signup {
  color: white;
  background-color: #202020;

  h6 {
    font-family: "Bungee Shade", cursive;
  }

  h1 {
    text-decoration: underline;
  }
}
