// $tiny: 400px;
$small: 600px;
$medium: 800px;
$large: 1000px;
$giant: 1200px;

.NavBar {
  // border: 5px solid orangered;
  width: 100%;

  #worldWideChessHeader {
    // border: 5px solid green;
    text-align: center;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

    .worldWideChessHeader-navigation {
      h1 {
        font-size: 20px;
        font-family: "Bungee Shade", cursive;
        &:hover {
          cursor: pointer;
        }
      }

      #mainlogoImg {
        width: 150px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .burgerMenu-body {
    // border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.1em;
    padding: 0.3em;
  }

  #navbarLink-lobby-container {
    // border: 5px solid cyan;
    text-align: center;
    border-radius: 0.5em;
    color: white;
    background-color: #212529;
    opacity: 98%;

    &:hover {
      cursor: pointer;
      opacity: 100%;
    }
  }

  #navbarLink-leaderboard-container {
    // border: 5px solid white;
    text-align: center;
    border-radius: 0.5em;
    color: white;
    background-color: #212529;
    opacity: 98%;

    &:hover {
      cursor: pointer;
      opacity: 100%;
    }
  }

  #navbarLink-shop-container {
    // border: 5px solid purple;
    text-align: center;
    border-radius: 0.5em;
    color: white;
    background-color: #212529;
    opacity: 98%;

    &:hover {
      cursor: pointer;
      opacity: 100%;
    }
  }

  #navbarLink-account-container {
    // border: 5px solid blue;
    text-align: center;
    border-radius: 0.5em;
    color: white;
    background-color: #212529;
    opacity: 98%;

    &:hover {
      cursor: pointer;
      opacity: 100%;
    }
  }
}

@media (min-width: $small) {
  .NavBar {
    // border: 5px solid blue;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;

    #worldWideChessHeader {
      // border: 5px solid green;
      grid-column: 2;
      text-align: center;
      color: aliceblue;
      display: flex;
      justify-content: center;
      align-items: center;

      .worldWideChessHeader-navigation {
        h1 {
          font-size: 20px;
          font-family: "Bungee Shade", cursive;
          &:hover {
            cursor: pointer;
          }
        }

        #mainlogoImg {
          width: 150px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .burgerMenu-body {
      border: 3px solid black;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0.1em;
      padding: 0.3em;
    }

    .lobbyAndLeaderboard-container {
      // border: 5px solid cyan;
      grid-column: 1;
      grid-row: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      font-size: 23px;

      #navbarLink-lobby-container {
        // border: 5px solid cyan;
        text-align: center;
        border-radius: 0.5em;
        color: white;
        background-color: #212529;
        opacity: 98%;

        &:hover {
          cursor: pointer;
          opacity: 100%;
        }
      }

      #navbarLink-leaderboard-container {
        // border: 5px solid white;
        text-align: center;
        border-radius: 0.5em;
        color: white;
        background-color: #212529;
        opacity: 98%;

        &:hover {
          cursor: pointer;
          opacity: 100%;
        }
      }
    }

    .shopAndAccount-container {
      // border: 5px solid orange;
      grid-column: 3;
      grid-row: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      font-size: 23px;

      #navbarLink-shop-container {
        // border: 5px solid purple;
        text-align: center;
        border-radius: 0.5em;
        color: white;
        background-color: #212529;
        opacity: 98%;

        &:hover {
          cursor: pointer;
          opacity: 100%;
        }
      }

      #navbarLink-account-container {
        // border: 5px solid orange;
        text-align: center;
        border-radius: 0.5em;
        color: white;
        background-color: #212529;
        opacity: 98%;

        &:hover {
          cursor: pointer;
          opacity: 100%;
        }
      }
    }
  }
}

@media (min-width: $medium) {
  .NavBar {
    // border: 5px solid purple;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;

    #worldWideChessHeader {
      // border: 5px solid green;
      grid-column: 2;
      text-align: center;
      color: aliceblue;
      display: flex;
      justify-content: center;
      align-items: center;

      .worldWideChessHeader-navigation {
        h1 {
          font-size: 20px;
          font-family: "Bungee Shade", cursive;
          &:hover {
            cursor: pointer;
          }
        }

        #mainlogoImg {
          width: 150px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .lobbyAndLeaderboard-container {
      // border: 5px solid black;
      grid-column: 1;
      grid-row: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-size: 23px;

      #navbarLink-lobby-container {
        // border: 5px solid cyan;
        grid-column: 1;
        grid-row: 2;
        text-align: center;
        border-radius: 0.5em;
        color: white;
        background-color: #212529;
        opacity: 98%;
        height: 1.5em;
        margin-left: 0.3em;

        &:hover {
          cursor: pointer;
          opacity: 100%;
        }
      }

      #navbarLink-leaderboard-container {
        // border: 5px solid white;
        grid-column: 2;
        grid-row: 3;
        text-align: center;
        border-radius: 0.5em;
        color: white;
        background-color: #212529;
        opacity: 98%;
        height: 1.5em;

        &:hover {
          cursor: pointer;
          opacity: 100%;
        }
      }
    }

    .shopAndAccount-container {
      // border: 5px solid orange;
      grid-column: 3;
      grid-row: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-size: 23px;

      #navbarLink-shop-container {
        // border: 5px solid purple;
        grid-column: 1;
        grid-row: 3;
        text-align: center;
        border-radius: 0.5em;
        color: white;
        background-color: #212529;
        opacity: 98%;
        height: 1.5em;

        &:hover {
          cursor: pointer;
          opacity: 100%;
        }
      }

      #navbarLink-account-container {
        // border: 5px solid orange;
        grid-column: 2;
        grid-row: 2;
        text-align: center;
        border-radius: 0.5em;
        color: white;
        background-color: #212529;
        opacity: 98%;
        height: 1.5em;
        margin-right: 0.3em;

        &:hover {
          cursor: pointer;
          opacity: 100%;
        }
      }
    }
  }
}

@media (min-width: $large) {
  .NavBar {
    // border: 5px solid purple;
    display: grid;
    grid-template-columns: 1fr 400px 1fr;

    #worldWideChessHeader {
      // border: 5px solid green;
      grid-column: 2;
      text-align: center;
      color: aliceblue;
      display: flex;
      justify-content: center;
      align-items: center;

      .worldWideChessHeader-navigation {
        h1 {
          font-size: 20px;
          font-family: "Bungee Shade", cursive;
          &:hover {
            cursor: pointer;
          }
        }

        #mainlogoImg {
          width: 200px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .lobbyAndLeaderboard-container {
      // border: 5px solid black;
      grid-column: 1;
      grid-row: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-size: 23px;

      #navbarLink-lobby-container {
        // border: 5px solid cyan;
        grid-column: 1;
        grid-row: 2;
        text-align: center;
        border-radius: 0.5em;
        color: white;
        background-color: #212529;
        opacity: 98%;
        height: 1.5em;
        max-width: 400px;
        margin-left: 0.3em;

        &:hover {
          cursor: pointer;
          opacity: 100%;
        }
      }

      #navbarLink-leaderboard-container {
        // border: 5px solid white;
        grid-column: 2;
        grid-row: 3;
        text-align: center;
        border-radius: 0.5em;
        color: white;
        background-color: #212529;
        opacity: 98%;
        height: 1.5em;
        max-width: 400px;

        &:hover {
          cursor: pointer;
          opacity: 100%;
        }
      }
    }

    .shopAndAccount-container {
      // border: 5px solid orange;
      grid-column: 3;
      grid-row: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-size: 23px;

      #navbarLink-shop-container {
        // border: 5px solid purple;
        grid-column: 1;
        grid-row: 3;
        text-align: center;
        border-radius: 0.5em;
        color: white;
        background-color: #212529;
        opacity: 98%;
        height: 1.5em;
        max-width: 400px;

        &:hover {
          cursor: pointer;
          opacity: 100%;
        }
      }

      #navbarLink-account-container {
        // border: 5px solid orange;
        grid-column: 2;
        grid-row: 2;
        text-align: center;
        border-radius: 0.5em;
        color: white;
        background-color: #212529;
        opacity: 98%;
        height: 1.5em;
        margin-right: 0.3em;
        max-width: 400px;

        &:hover {
          cursor: pointer;
          opacity: 100%;
        }
      }
    }
  }
}

@media (min-width: $giant) {
  .NavBar {
    // border: 5px solid cyan;
    display: grid;
    grid-template-columns: 1fr 500px 1fr;

    #worldWideChessHeader {
      // border: 5px solid green;
      grid-column: 2;
      text-align: center;
      color: aliceblue;
      display: flex;
      justify-content: center;
      align-items: center;

      .worldWideChessHeader-navigation {
        h1 {
          font-size: 30px;
          font-family: "Bungee Shade", cursive;
          &:hover {
            cursor: pointer;
          }
        }

        #mainlogoImg {
          width: 250px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .lobbyAndLeaderboard-container {
      // border: 5px solid black;
      grid-column: 1;
      grid-row: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-size: 30px;

      #navbarLink-lobby-container {
        // border: 5px solid cyan;
        grid-column: 1;
        grid-row: 2;
        text-align: center;
        border-radius: 0.5em;
        color: white;
        background-color: #212529;
        opacity: 98%;
        height: 1.5em;
        max-width: 400px;
        margin-left: 0.3em;

        &:hover {
          cursor: pointer;
          opacity: 100%;
        }
      }

      #navbarLink-leaderboard-container {
        // border: 5px solid white;
        grid-column: 2;
        grid-row: 3;
        text-align: center;
        border-radius: 0.5em;
        color: white;
        background-color: #212529;
        opacity: 98%;
        height: 1.5em;
        max-width: 400px;

        &:hover {
          cursor: pointer;
          opacity: 100%;
        }
      }
    }

    .shopAndAccount-container {
      // border: 5px solid orange;
      grid-column: 3;
      grid-row: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-size: 30px;

      #navbarLink-shop-container {
        // border: 5px solid purple;
        grid-column: 1;
        grid-row: 3;
        text-align: center;
        border-radius: 0.5em;
        color: white;
        background-color: #212529;
        opacity: 98%;
        height: 1.5em;
        max-width: 400px;

        &:hover {
          cursor: pointer;
          opacity: 100%;
        }
      }

      #navbarLink-account-container {
        // border: 5px solid orange;
        grid-column: 2;
        grid-row: 2;
        text-align: center;
        border-radius: 0.5em;
        color: white;
        background-color: #212529;
        opacity: 98%;
        height: 1.5em;
        margin-right: 0.3em;
        max-width: 400px;

        &:hover {
          cursor: pointer;
          opacity: 100%;
        }
      }
    }
  }
}

// Burger Menu Stuff \\
/* Icon 1 */
.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: #2d7ef7;
}

.animated-icon2 span {
  background: #e3f2fd;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}
