$small-mobile: 350px;
$medium-mobile: 400px;
$large-mobile: 600px;
$extra-large-mobile: 799px;

$small-desktop: 800px;
$medium-desktop: 1100px;
$large-desktop: 1300px;
$extra-large-desktop: 1400px;

@mixin Navbar-container($gridTemplateColumnsValues) {
  // border: 5px solid red;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 10%;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #212529;
}

@mixin Navbar-header($gridColumn) {
  grid-column: 1;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Bungee Shade", cursive;

  h1 {
    font-size: 18px;
  }
}

@mixin grid-template($gridTemplateVersion) {
  display: grid;
  #{$gridTemplateVersion}: 1fr;
  align-items: center;
  // justify-content: center;
  text-align: center;
}

@mixin Navbar-button-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.5em;
  color: white;
  background-color: #383838;
  opacity: 85%;
  height: 3em;
  // margin-left: 0.3em;

  &:hover {
    cursor: pointer;
    opacity: 100%;
  }
}

.desktop-NavBar-container {
  .Navbar {
    @include Navbar-container(1fr 250px 1fr);

    #Navbar-header {
      @include Navbar-header(2);
    }

    .Navbar-home {
      grid-column: 1;
      @include Navbar-button-style;
    }

    .Navbar-lobby {
      grid-column: 1;
      @include Navbar-button-style;
    }

    .Navbar-shop {
      grid-column: 1;
      @include Navbar-button-style;
    }

    .Navbar-menu {
      grid-column: 1;
      @include Navbar-button-style;
    }
  }

  .hide-navbar {
    border: 5px solid red;
    display: none;
  }
}

.mobile-NavBar-container {
  // border: 5px solid red;
  .Navbar {
    // border: 5px solid cyan;
    @include Navbar-container(repeat(2, 1fr));
    column-gap: 1em;

    #Navbar-header {
      // border: 5px solid green;
      @include Navbar-header(1 / span 2);
    }

    #HomeAndLobby-container {
      // border: 5px solid yellow;
      @include grid-template(grid-template-rows);
      row-gap: 1em;

      .Navbar-home {
        @include Navbar-button-style;
      }

      .Navbar-lobby {
        grid-row: 2;
        @include Navbar-button-style;
      }
    }

    #ShopAndMenu-container {
      // border: 5px solid orange;
      @include grid-template(grid-template-rows);
      row-gap: 1em;

      .Navbar-shop {
        grid-row: 1;
        @include Navbar-button-style;
      }

      .Navbar-menu {
        grid-row: 2;
        @include Navbar-button-style;
      }
    }
  }
}

.Navbar-active {
  border: 3px solid aliceblue;
  transition-duration: 0.1s;
}
