@mixin room-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3%;
  justify-content: center;
  align-items: center;
  margin: 1em 0.5em;
  border: 3px solid white;
  border-radius: 1em;
  font-size: 15px;

  .room-number {
    font-size: 30px;
  }

  .room-name {
    font-size: 25px;
  }

  .room-status {
    .lobby-status-buttons {
      .lobby-button-one {
        border: 3px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3em;
        text-decoration: none;
        color: aliceblue;
        background-color: black;
        opacity: 85%;
        border-radius: 1em;
        margin: 0.5em;
        font-size: 14px;

        &:hover {
          opacity: 100%;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          cursor: pointer;
          color: white;
        }
      }

      .lobby-button-two {
        border: 3px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3em;
        text-decoration: none;
        color: aliceblue;
        background-color: gray;
        opacity: 50%;
        border-radius: 1em;
        margin: 0.5em;
        font-size: 14px;
      }
    }
  }
}

@mixin lobbyModalPassword-container {
  text-align: center;

  .lobbyModalPassword-modal {
    color: white;
    background-color: black;
  }

  #lobbyModalPassword-formControl {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3%;
  }
}

.desktop-room-info {
  @include room-info;
}

.desktop-lobbyModalPassword-container {
  @include lobbyModalPassword-container;
}

.mobile-room-info {
  @include room-info;
}

.mobile-lobbyModalPassword-container {
  @include lobbyModalPassword-container;
}
