$large: 1000px;
$giant: 1200px;

.gamePageSection {
  // border: 5px solid red;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

@media (min-width: $large) {
  .gamePageSection {
    // border: 5px solid red;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
  }
}
