.gamePageSection {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  width: 80vw;
  margin: 0 auto;

  img {
    width: 100px;
  }
}
