.playerAccountsSection {
  background-color: aliceblue;
  height: 80vh;
  overflow-y: auto;

  img {
    width: 100px;
  }

  .playerLinks {
    text-decoration: none;
    color: black;
    opacity: 85%;

    &:hover {
      color: brown;
      opacity: 100%;
    }
  }

  .matchingPlayer {
    border: 5px solid greenyellow;
  }
}
