.LandingPageContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../Images/kingsFistFight.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  .LandingPageContent {
    height: 85vh;
    width: 85vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logoAndTitle {
      margin-bottom: 3%;
      color: #00d5fb;
      font-family: "Bungee Shade", cursive;
      text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000,
        -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000,
        -2px 0px 0 #000000, 0px -2px 0 #000000, 10px 4px 5px rgba(0, 0, 0, 0);
    }

    .motto {
      margin-bottom: 3%;
      color: #fbee00;
      text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000,
        -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000,
        -2px 0px 0 #000000, 0px -2px 0 #000000, 10px 4px 5px rgba(0, 0, 0, 0);
      // font-family: "Bungee Shade", cursive;
    }

    .landingPageButtons {
      width: 50%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10%;
      // font-family: "Bungee Shade", cursive;
    }
  }
}

img {
  width: 250px;
}

#logoImgModal {
  width: 100px;
}

.landing-modal-container {
  text-align: center;
}

#landing-modal-button {
  font-size: 1.5em;
}

.closeButton {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-end;
  width: 3%;

  &:hover {
    cursor: pointer;
    color: gray;
  }
}
