.message-card {
  display: grid;
  grid-template-columns: 80px 1fr;
  margin-bottom: 1em;

  .userProfileImg {
    width: 80px;
  }

  .message-card-content {
    margin-left: 1.5%;

    h3 {
      font-size: 23px;
    }

    .message-text {
      margin-left: 1%;
    }
  }
}
