@mixin game-settings-player-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  h2,
  h3 {
    grid-column: 1 / -1;
    font-size: 35px;
  }

  h4 {
    font-size: 30px;
  }

  .playerImg {
    grid-column: 1 / -1;
    justify-self: center;
    margin-bottom: 3em;
  }

  h4:nth-of-type(1) {
    margin-bottom: 1em;
    font-size: 30px;
  }

  h4:nth-of-type(2) {
    font-size: 30px;
  }

  h4:nth-of-type(3) {
    grid-column: 1 / -1;
    font-size: 30px;
  }
}

.multi-player-game-settings-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;

  .game-settings-player1-info {
    @include game-settings-player-info;
  }

  .game-settings-player2-info {
    @include game-settings-player-info;
  }

  .multi-game-settings-buttons-container {
    grid-column: 1 / -1;

    Button {
      width: 50%;
    }
  }

  .game-settings-stats-icon {
    width: 30px;
  }
}
