.editGameSection {
  // color: white;
  background-color: aliceblue;
  margin: 0 auto;
  width: 50%;
  box-shadow: 1px 3px 8px 9px rgba(84, 65, 9, 0.84);
  -webkit-box-shadow: 1px 3px 8px 9px rgba(84, 65, 9, 0.84);
  -moz-box-shadow: 1px 3px 8px 9px rgba(84, 65, 9, 0.84);
}

.editGameTitle {
  text-align: center;
}

.editGameSettings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
