#disabledIconSVG {
  width: 35px; // Adjust the size as needed
  height: 35px; // Adjust the size as needed
  display: inline-block; // To ensure it aligns properly within text or other elements
  vertical-align: middle; // To align it vertically with text
  fill: none; // To make the circle transparent
}
