$medium: 800px;
$large: 1000px;
$giant: 1200px;

$Queen: url("../../../../Images/Promotions/Queen.png");
$Rook: url("../../../../Images/Promotions/Rook.png");
$Bishop: url("../../../../Images/Promotions/Bishop.png");
$Knight: url("../../../../Images/Promotions/Knight.png");

@mixin multiPlayerGame-container {
  background-color: #1b1b1b;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;

  .multiPlayerGame {
    height: 95vh;
    width: 95vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1em;

    .multiPlayerGame-header-container {
      grid-row: 1;
      grid-column: 1 / -1;
      margin: 0 auto;
      margin-top: 1em;
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1em;

      .multiPlayerGame-header {
        border: 3px solid white;
        grid-column: 2;
        color: white;
        font-size: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: space-evenly;
        box-shadow: 0 5px 23px rgba(0, 0, 0, 1);

        .multiPlayerGame-spectatorCount {
          grid-row: 1;
          grid-column: 2;
          text-align: center;
          justify-self: center;
          width: 50px;

          .multiPlayerGame-spactatorIcon {
            width: 50px;
            margin-bottom: 0.5em;
          }
        }

        .multiPlayerGame-roomName {
          grid-column: 1;
          text-align: center;
        }
      }
    }

    .multiPlayerGame-playerOne-data {
      border: 3px solid black;
      box-shadow: 0 5px 23px rgba(0, 0, 0, 1);
      display: flex;
      align-items: center;
      height: 100%;
      grid-row: 1;
      grid-column: 1;
      font-size: 30px;
    }

    .multiPlayerGame-playerTwo-data {
      border: 3px solid black;
      box-shadow: 0 5px 23px rgba(0, 0, 0, 1);
      display: flex;
      align-items: center;
      height: 100%;
      grid-column: 3;
      font-size: 30px;
    }

    .active-turn {
      border: 3px solid rgb(224, 162, 7);
    }

    .profile-pic-container {
      margin-right: 0.5em;
      border-radius: 1em;
      max-width: 100%;
      max-height: 100%;
      overflow: hidden;

      .multiPlayerGame-player-image {
        width: 100px;
        height: 100px;
        object-fit: contain;
        margin-left: 5%;
      }
    }

    .multiPlayer-main-content-container {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      gap: 1em;

      .multiPlayerGame-chessboard-container {
        grid-column: 1;
      }

      .move-history-container {
        color: white;
        border: 1px solid white;
        background-color: #1b1b1b;
        position: fixed;
        right: 0;
        top: 19%;
        width: 5%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        transition: 1s;
        max-height: 300px;
        z-index: 1000;

        .move-history-icons {
          grid-column: 1;
          grid-row: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          opacity: 85%;

          &:hover {
            cursor: pointer;
            opacity: 100%;
          }
        }

        .move-history-title {
          writing-mode: vertical-rl;
          text-orientation: upright;
          grid-column: 2;
        }

        .move-history-content-show {
          grid-row: 1;
          grid-column: 2;
          text-align: center;

          .move-history {
            height: 100%;
            max-height: 300px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .chess-piece-icon {
              width: 30px;
            }

            .player1MoveHistory-container {
              background-color: rgb(30, 30, 30);
              border-right: 1px solid white;
              max-height: 250px;

              h4 {
                border-bottom: 1px solid white;

                .player1MoveHistory-name {
                  font-size: 15px;
                }
              }

              .player1MoveHistory {
                height: 200px;
                max-height: 200px;
                overflow-y: auto;
              }
            }

            .player2MoveHistory-container {
              background-color: rgb(30, 30, 30);
              max-height: 250px;

              h4 {
                border-bottom: 1px solid white;

                .player2MoveHistory-name {
                  font-size: 15px;
                }
              }

              .player2MoveHistory {
                height: 200px;
                max-height: 200px;
                overflow-y: auto;
              }
            }
          }
        }

        .move-history-content-hide {
          display: none;
        }

        .move-history-title-active {
          writing-mode: vertical-rl;
          text-orientation: upright;
          grid-column: 3;
        }
      }

      .move-history-active {
        width: 32%;
        display: grid;
        grid-template-columns: 0.1fr 1fr 0.1fr;
      }

      .multiPlayerGame-chatBox-container {
        border: 1px solid white;
        grid-column: 2;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 35px;
        margin: 0 auto;
        overflow-y: auto;
        color: white;

        .multiPlayerGame-chatBox {
          height: 85%;
          overflow-y: auto;
        }
      }

      .multiPlayerGame-buttons {
        display: flex;
        justify-content: space-evenly;
        grid-column: 1 / -1;

        .multiPlayerGame-endGame-button {
          width: 30%;
        }
      }
    }
  }
}

@mixin promotion-modal-container {
  .promotion-modal-body {
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 1);

    .promotion-modal-buttons {
      border: 5px solid black;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
    }

    #queenButton {
      background-image: $Queen;
    }

    #rookButton {
      background-image: $Rook;
    }

    #bishopButton {
      background-image: $Bishop;
    }

    #knightButton {
      background-image: $Knight;
    }
  }
}

@mixin winner-modal-container {
  .winner-modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .winner-modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.desktop-multiPlayerGame-container {
  @include multiPlayerGame-container;
}

.desktop-promotion-modal-container {
  @include promotion-modal-container;
}

.desktop-winner-modal-container {
  @include winner-modal-container;
}

.mobile-multiPlayerGame-container {
  @include multiPlayerGame-container;
}

.mobile-promotion-modal-container {
  @include promotion-modal-container;
}

.mobile-winner-modal-container {
  @include winner-modal-container;
}
