$medium: 800px;
$large: 1000px;
$giant: 1200px;

$Queen: url("../../../../Images/Queen.png");
$Rook: url("../../../../Images/Rook.png");
$Bishop: url("../../../../Images/Bishop.png");
$Knight: url("../../../../Images/Knight.png");

@mixin gamePagePlayer {
  // border: 5px solid cyan;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1%;

  .gamePagePlayer-header-container {
    // border: 5px solid red;
    grid-row: 1;
    grid-column: 1 / span 3;
    width: 80%;
    height: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .gamePagePlayer-header {
      // border: 5px solid cyan;
      font-size: 30px;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-content: center;
      column-gap: 5%;

      #gamePagePlayer-roomName {
        // border: 5px solid purple;
        grid-row: 1 / span 2;
        text-align: center;
      }

      #gamePagePlayer-spectatorCount {
        // border: 5px solid yellow;
        grid-row: 1;
        grid-column: 2;
        text-align: center;
        width: 50px;
        // margin-bottom: -1em;
      }

      #gamePagePlayer-spactatorIcon {
        // border: 5px solid orange;
        width: 50px;
        grid-row: 2;
        margin-bottom: 0.5em;
      }
    }
  }

  .gamePagePlayer-players-data {
    // border: 5px solid red;
    grid-row: 2;
    width: 90%;
    font-size: 30px;
    margin: 0 auto;

    .gamePagePlayer-playerOne-data {
      border: 5px solid white;
      box-shadow: 0 5px 23px rgba(0, 0, 0, 1);
      margin-bottom: 5%;
      // height: 12vh;
      display: flex;
      align-items: center;
    }

    .gamePagePlayer-playerTwo-data {
      border: 5px solid black;
      box-shadow: 0 5px 23px rgba(0, 0, 0, 1);
      margin-bottom: 5%;
      // height: 12vh;
      display: flex;
      align-items: center;
    }

    .gamePagePlayer-player-image {
      // border: 5px solid red;
      width: 50px;
    }
  }

  .gamePagePlayer-chessboard-container {
    // border: 5px solid blue;
    grid-row: 3;
    display: flex;
    justify-content: center;
  }

  .gamePagePlayer-buttons {
    // border: 5px solid red;
    grid-row: 4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .gamePagePlayer-chatBox-container {
    // border: 5px solid green;
    grid-row: 5;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);

    .gamePagePlayer-chatBox {
      font-size: 35px;
      width: 95%;
      height: 95%;
    }
  }
}

@mixin promotion-modal-container {
  .promotion-modal-body {
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 1);

    .promotion-modal-buttons {
      border: 5px solid black;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
    }

    #queenButton {
      background-image: $Queen;
    }

    #rookButton {
      background-image: $Rook;
    }

    #bishopButton {
      background-image: $Bishop;
    }

    #knightButton {
      background-image: $Knight;
    }
  }
}

@mixin winner-modal-container {
  .winner-modal-header {
    // border: 5px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .winner-modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.desktop-gamePagePlayer {
  @include gamePagePlayer;
}

.desktop-promotion-modal-container {
  @include promotion-modal-container;
}

.desktop-winner-modal-container {
  @include winner-modal-container;
}

.mobile-gamePagePlayer {
  @include gamePagePlayer;
}

.mobile-promotion-modal-container {
  @include promotion-modal-container;
}

.mobile-winner-modal-container {
  @include winner-modal-container;
}
