.mainParent {
  height: 100vh;
  width: 100vw;
}

#footer {
  border: 3px dotted black;
  background-color: burlywood;
}

// font-family: 'Bungee Shade', cursive;
// font-family: 'IM Fell English SC', serif;
// font-family: 'Tilt Prism', cursive;
