#worldWideChessHeader {
  text-align: center;
  color: aliceblue;
  font-size: 50px;
  background-color: #362101;
  font-family: "Bungee Shade", cursive;
}

#footer {
  border: 3px dotted black;
  background-color: burlywood;
}

// font-family: 'Bungee Shade', cursive;
// font-family: 'IM Fell English SC', serif;
// font-family: 'Tilt Prism', cursive;
