* {
  box-sizing: border-box;
}

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}

body {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/621/321/193/background-the-game-chess-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
