@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=IM+Fell+English+SC&family=Tilt+Prism:YROT@-13&display=swap");

// font-family: 'Bungee Shade', cursive;
// font-family: 'IM Fell English SC', serif;
// font-family: 'Tilt Prism', cursive;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
}

::-webkit-scrollbar {
  display: none;
}

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  background-color: #262b2d;
  // background-color: #282e33;
  // background-color: #a4a4a4;
  font-family: "IM Fell English SC", serif;

  &::-webkit-scrollbar {
    display: none;
  }
}
