@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=IM+Fell+English+SC&family=Tilt+Prism:YROT@-13&display=swap");

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}

body {
  background-image: url("./Images/homepageBackgroundImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "IM Fell English SC", serif;

  &::-webkit-scrollbar {
    display: none;
  }
}
