@mixin advanced-search-container {
  text-align: center;
  width: 100%;
  height: 100%;
}

@mixin advanced-search-title {
  font-size: 25px;
}

@mixin advanced-search-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  width: 95%;
  gap: 1em;
  margin: 0 auto;
}

@mixin advanced-search-specs-container {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;

  background: #262727;
  background: -moz-linear-gradient(left, #262727 0%, #505050 50%, #262727 100%);
  background: -webkit-linear-gradient(left, #262727 0%, #505050 50%, #262727 100%);
  background: linear-gradient(to right, #262727 0%, #505050 50%, #262727 100%);
  box-shadow:
    0px 4px 2px -2px rgba(200, 200, 200, 0.3),
    0px 10px 5px -5px rgba(200, 200, 200, 0.2),
    0px 20px 10px -10px rgba(200, 200, 200, 0.1);
}

@mixin advanced-search-password-container {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;

  background: #262727;
  background: -moz-linear-gradient(left, #262727 0%, #505050 50%, #262727 100%);
  background: -webkit-linear-gradient(left, #262727 0%, #505050 50%, #262727 100%);
  background: linear-gradient(to right, #262727 0%, #505050 50%, #262727 100%);
  box-shadow:
    0px 4px 2px -2px rgba(200, 200, 200, 0.3),
    0px 10px 5px -5px rgba(200, 200, 200, 0.2),
    0px 20px 10px -10px rgba(200, 200, 200, 0.1);
}

@mixin advanced-search-full-container {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;

  background: #262727;
  background: -moz-linear-gradient(left, #262727 0%, #505050 50%, #262727 100%);
  background: -webkit-linear-gradient(left, #262727 0%, #505050 50%, #262727 100%);
  background: linear-gradient(to right, #262727 0%, #505050 50%, #262727 100%);
  box-shadow:
    0px 4px 2px -2px rgba(200, 200, 200, 0.3),
    0px 10px 5px -5px rgba(200, 200, 200, 0.2),
    0px 20px 10px -10px rgba(200, 200, 200, 0.1);
}

@mixin advanced-search-rating-container {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;

  background: #262727;
  background: -moz-linear-gradient(left, #262727 0%, #505050 50%, #262727 100%);
  background: -webkit-linear-gradient(left, #262727 0%, #505050 50%, #262727 100%);
  background: linear-gradient(to right, #262727 0%, #505050 50%, #262727 100%);
  box-shadow:
    0px 4px 2px -2px rgba(200, 200, 200, 0.3),
    0px 10px 5px -5px rgba(200, 200, 200, 0.2),
    0px 20px 10px -10px rgba(200, 200, 200, 0.1);

  .rating-number-container {
    padding: 0.5em;
    width: 75%;

    #rating-divider {
      border: 1px solid gainsboro;
      width: 30%;
      margin: 0.5em auto;
    }
  }
}

@mixin advanced-search-button-container {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;

  .advanced-search-button {
    font-size: 20px;
    border-radius: 0;
  }

  :nth-child(1) {
    color: rgb(100, 255, 100);
  }

  :nth-child(2) {
    color: rgb(255, 100, 100);
  }
}

// === DESKTOP STYLING === \\

.desktop-advanced-search-container {
  @include advanced-search-container;

  #advanced-search-title {
    @include advanced-search-title;
  }

  .advanced-search-form {
    @include advanced-search-form;

    .advanced-search-specs-container {
      @include advanced-search-specs-container;
    }

    .advanced-search-password-container {
      @include advanced-search-password-container;
    }

    .advanced-search-rating-container {
      @include advanced-search-rating-container;
    }

    .advanced-search-full-container {
      @include advanced-search-full-container;
    }

    .advanced-search-button-container {
      @include advanced-search-button-container;
    }
  }
}

// === MOBILE STYLING === \\

.mobile-advanced-search-container {
  @include advanced-search-container;

  #advanced-search-title {
    @include advanced-search-title;
  }

  .advanced-search-form {
    @include advanced-search-form;

    .advanced-search-specs-container {
      @include advanced-search-specs-container;
    }

    .advanced-search-password-container {
      @include advanced-search-password-container;
    }

    .advanced-search-rating-container {
      @include advanced-search-rating-container;
    }

    .advanced-search-full-container {
      @include advanced-search-full-container;
    }

    .advanced-search-button-container {
      @include advanced-search-button-container;
    }
  }
}

.form-check-input:checked {
  background-color: black;
  border-color: white;
}
